<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trio Article Page Template</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:900|Sacramento&text=Trio|Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <link data-trio-link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header data-trio-include="header.html"></header>
    <main class="container article">
        <!-- <div class="breadcrumbs"></div> -->
        <h1 class="article__title"></h1>
        <div class="article__date"></div>
        <div class="article__image-container">
            <img class="article__image" src="" alt="">
        </div>
        <div class="article__subtitle"></div>
        <article class="article__story" data-trio-fragment-body>
        </article>
        <div class="article__metadata">
            <div class="article__related-articles">
                <h2 class="article__related-articles-title">Related Articles</h2>
                <ul class="article__related-articles-list"></ul>
            </div>
            <div class="article__tags">
                <h2 class="article__tags-title">Article Tags</h2>
                <ul class="article__tags-list"></ul>
            </div>
            <div class="article__all-tags">
                <h2 class="article__tags-title">All Tags</h2>
                <ul class="article__tags-list"></ul>
            </div>
        </div>
    </main>
</body>

</html>