<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trio Tag Page Template</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:900|Sacramento&text=Trio|Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <link data-trio-link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header data-trio-include="header.html"></header>
    <main class="container blog">
        <div class="tag-container">
            <h1 class="blog__title">Blog</h1>
            <div class="tag"></div>
        </div>
        <ul data-trio-fragment class="blog__articles"></ul>
        <div class="blog__metadata">
            <div class="blog__tags">
                <h2 class="blog__tags-title">Tags</h2>
                <ul class="blog__tags-list"></ul>
            </div>
        </div>
    </main>
    <footer data-trio-include="footer.html"></footer>
</body>

</html>