.article-media-object {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.article-media-object__image {
    flex: none;
    max-width: 100%;
    height: auto;
    border-radius: 3px;
}

.article-media-object__details {
    flex: none;
    text-align: center;
}

// @media (min-width: $breakpoint) {
//     .article-media-object {
//         flex-direction: row;
//     }
//     .article-media-object__image {
//         flex: 1;
//         width: 20%;
//         height: 20%;
//         margin-right: 10px;
//         border-radius: 3px;
//     }
// }