.article {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    color: $default-text-color;
}

.article__info {
    margin-top: 10px;
}

.article__title {
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

.article__subtitle,
.article__related-article-subtitle {
    text-align: center;
    font-style: italic;
}

.article__related-article-excerpt {
    font-size: .9rem;
}

.article__subtitle::before,
.article__related-article-subtitle::before {
    content: open-quote;
}

.article__subtitle::after,
.article__related-article-subtitle::after {
    content: close-quote;
}

.article__date {
    font-size: .8rem;
    text-align: center;
}

.article__title::after,
.article__related-article-title::after {
    content: "";
    display: block;
    width: 4rem;
    height: 1px;
    background-color: rgba(#000, 0.4);
    margin: 0 auto .5rem auto;
}

.article__related-article-title::after {
    margin: 0 auto;
}

.article__story {
    margin: 0;
}

.article__related-articles,
.article__tags {
    margin-bottom: 1rem;
}

.article__related-articles-title,
.article__tags-title {
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}

.article__related-articles-list,
.article__tags-list {
    list-style: none;
    font-size: .9rem;
    margin: 0;
    padding: 0;
}

.article__related-articles-list-item {
    margin-bottom: 20px;
}

.article__related-article-title {
    font-weight: bold;
}

.article__tags-list-item:hover,
.article__related-articles-list-item:hover {
    background-color: $hover-bg-color;
}

.article__link {
    display: inline-block;
    width: 100%;
    color: $default-text-color;
    text-decoration: none;
}

.article__metadata {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid $hover-bg-color;
    border-bottom: 1px solid $hover-bg-color;
    text-align: center;
}

@media (min-width: $breakpoint) {
    .article {
        grid-template-columns: 1fr 3fr;
    }
    .article__info {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
    }
    .article__title {
        font-size: 3.5rem;
    }
    .article__metadata {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        padding-top: 0;
        padding-right: 2rem;
        border-top: none;
        border-right: 1px solid $hover-bg-color;
        border-bottom: 1px solid $hover-bg-color;
    }
    .article__story {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        padding-left: 2rem;
        border-bottom: 1px solid $hover-bg-color;
    }
    .article-page-links {
        grid-row: 3 / 4;
        grid-column: 1 / 3;
    }
}