$color: #000;
$bgcolor: #fff;
$width: 32px;
$height: 19px;

.hamburger-checkbox {
    display: none;
}

.hamburger-checkbox:checked + * {
    display: block;
}

// .hamburger-helper {
//     // width: $width;
//     // height: $height;
// }

.hamburger {
    width: $width;
    height: 40px;
    // margin: auto 0;
}

.hamburger--right {
    float: right;
    overflow: hidden;
    margin-right: 10px;
}

.hamburger__bun {
    height: 11px;
    margin: 14.5px 0;
}

.hamburger__patty {
    width: 16px;
    height: 1px;
    margin: 4px auto;
    background-color: #000;
    outline: 1px solid #000;
}

// .hamburger__patty:first-child {
//     // margin-top: 8px;
// }

// .hamburger__patty:last-child {
//     margin-bottom: auto;
// }

// .hamburger__patty {
//     height: 1px;
//     width: 20px;
//     justify-content: space-evenly;
// }

// .hamburger__patty::before {
//     content: "";
//     border: 1px solid #000;
//     background-color: #000;
// }

// .hamburger-icon__burger:last-child {
//     margin-bottom: 0;
// }

@media (min-width: $breakpoint) {
    .hamburger-helper {
        display: none;
    }
}