$color: #000;
$bgcolor: #fff;
$width: 32px;
$height: 19px;

.hamburer {
    display: initial;
}

.hamburger__bun {
    height: 11px;
    margin: 14.5px 0;
}

.hamburger__patty {
    width: 16px;
    height: 1px;
    margin: 4px auto;
    background-color: #000;
    outline: 1px solid #000;
}

.hamburger-checkbox {
    display: none;
}

.hamburger-checkbox:checked + * {
    display: block;
}

@media (min-width: $breakpoint) {
    .hamburger-helper {
        display: none;
    }
}