.header-mobile-hamburger {
    animation: animate-opacity $opacity-animation-duration;
}

.header-container {
    padding: 20px 0;
}

.header__promo {
    display: inline-block;
}

.header__promo-text {
    font-family: 'Sacramento', cursive;
    font-size: 72px;
    font-weight: 100;
    height: 82px;
    display: inline-block;
    color: rgba(142, 36, 170, 1);
    text-shadow: 1px 1px 3px rgba(142, 36, 170, 1);
}

.header__nav {
    display: none;
    animation: animate-opacity $opacity-animation-duration;
    width: 100%;
}

.header__nav-items {
    font-size: .9em;
    font-weight: 600;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.header__nav-item {
    display: block;
    width: 100%;
}

.header__nav-item:hover {
    background-color: rgba(225, 190, 231, 1);
}

.header__nav-item-icon {
    margin-right: 10px;
    opacity: .45;
}

.header__nav-item-link {
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(128, 0, 128, 0.65);
    display: inline-block;
    padding: 10px 0 10px 5px;
    width: 100%;
    height: 100%;
    font-weight: 500;
}

@keyframes animate-opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 640px) {
    .header__promo {
        display: inline-block;
    }
    .header__nav {
        display: block;
        overflow: hidden;
        width: initial;
        position: relative;
        float: right;
        right: 0;
        top: 30px;
        animation: animate-opacity $opacity-animation-duration;
    }
    .header__nav-items {
        display: block;
        margin: 0;
        overflow: hidden;
        text-align: center;
        width: 100%;
    }
    .header__nav-item {
        display: inline-block;
        width: initial;
        padding: 0;
    }
    .header__nav-item:last-child {
        margin-right: 0;
    }
    .header__nav-item-link {
        padding: 10px 10px 10px 10px;
    }
}