$color: #000;

.header-hamburger {
    animation: animate-opacity $opacity-animation-duration;
    position: absolute;
    top: -15px;
    left: 10px;
}

.header-container {
    padding-top: 20px;
    background-color: #fff;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.header-container--fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: 1px solid rgba(#000, .04);
    box-shadow: 0 1px rgba(#000, .02);
}

.header__promo {
    display: inline-block;
    // margin-left: 10px;
    width: 100%;
    text-align: center;
}

.header__promo-text {
    font-family: 'Sacramento', cursive;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: bold;
    display: inline-block;
    color: $color;
    text-shadow: 1px 1px 3px rgba($color, 0.7);
}

.header__nav {
    display: none;
    animation: animate-opacity $opacity-animation-duration;
    width: 100%;
}

.header__nav-items {
    font-weight: 600;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.header__nav-item {
    display: block;
    width: 100%;
    color: $color;
    position: relative;
}

.header__nav-item--active::after {
    content: "";
    display: block;
    overflow: hidden;
    position: absolute;
    border-radius: 5px;
    width: 2px;
    height: 100%;
    margin: auto 0;
    background-color: $active-header-item-color;
    top: 0;
    right: 0;
}

.header__nav-item:hover {
    border-radius: 5px;
    background-color: $hover-bg-color;
}

.header__nav-item-icon {
    margin-right: 10px;
    opacity: .45;
}

.header__nav-item-link {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    display: inline-block;
    padding: 10px 0 10px 5px;
    width: 100%;
    height: 100%;
    font-size: .9em;
    font-weight: bold;
}

@keyframes animate-opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: $breakpoint) {
    .header__promo {
        display: inline-block;
        margin-left: 10px;
        width: initial;
        text-align: initial;
    }
    .header__nav {
        display: block;
        overflow: hidden;
        width: initial;
        position: relative;
        float: right;
        right: 10px;
        top: -1px;
        animation: animate-opacity $opacity-animation-duration;
    }
    .header__nav-items {
        display: block;
        margin: 0;
        overflow: hidden;
        text-align: center;
        width: 100%;
    }
    .header__nav-item {
        display: inline-block;
        width: initial;
        margin: 0 10px;
        padding: 0;
    }
    .header__nav-item:last-child {
        margin-right: 0;
    }
    .header__nav-item--active::after {
        width: 100%;
        height: 2px;
        top: initial;
        bottom: 0;
    }
    .header__nav-item-link {
        padding: 10px 10px 10px 10px;
    }
}