* {
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: "Source+Sans+Pro", sans-serif;
    line-height: 1.5;
    margin: 0;
    color: $default-text-color;
    position: relative;
    margin-top: 150px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul, ol, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    font-size: 1rem;
}

@media (min-width: $breakpoint) {
    p {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 120%;
    }
}